@import "tailwindcss";
@font-face {
  font-family: Poppins;

  src: url("./assets/font/Poppins-Regular.ttf");
}
@theme {
  --color-primary: #181c14;
  --color-secondary: #3c3d37;
  --color-tertiary: #697565;
  --color-beige: #ecdfcc;
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
